*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header .navbar .nav-link{
    padding-right: 1rem!important;
    padding-left: 1rem!important;
    
    color: rgb(38, 107, 119);
    font-weight: 600;
}
header .navbar .nav-link:hover{
    color: black;
    border-bottom: 2px solid black;
}
header .navbar-brand img{
    height: 60px;
    width: 80px;
}

/* footer css */
footer{
    width: 100%;
    height: auto;
    background-color: black;
    padding: 10px 40px;
}
footer .in-footer{
    border-bottom: 1px solid white;
}
footer .quick-links{
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 10px 10px;
}
footer h4{
    color: #ff8430;
    margin-bottom: 15px;
    letter-spacing: 2px;
}
footer p,span,address{
    color: white;
}
footer input{
    border: 0;
    border-bottom: 2px solid white;
    border-radius: 2px;
    width: 70%;
    padding: 5px 10px;
    background: transparent;
}
footer .quick-links:hover{
    text-decoration: none;
    color: royalblue;
}
footer .social-links{
    margin-top: 15px;
}
footer .in-footer i.fa-search{
    position: relative;
    right: 30px;
    color: white;
}
footer .social-links a{
    margin-right: 15px;
    font-size: 25px;
    color: #ff8430;
}